@import '../../styles/styles.scss';
.dashboard-container {
    background:$light-gray;
    width:100%;
    min-height:100vh;
    font-family: 'Work Sans', sans-serif;
}

.top-dashboard-content{
    box-shadow:3px 0px 20px rgba(0, 0, 0, 0.04);
}

.botttom-dashboard-content {
    display:flex;
}

.view-sidemenu {
    display:block;
    position: absolute;
    top:0;

}
.hid-sidemenu {
    display: none;
}
